.whyus{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 70px;

    .heading{
        text-align: center;
    }

    .heading span{
        color: $primary-color;
    }
}