@import "variable";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $general-font;
    font-optical-sizing: auto;
  }
  a{
      text-decoration: none;
      color: inherit;
  }
  ul{
      list-style: none;
  }
  .container{
      width: 1320px;
      padding: 0px 10px;
      margin: 0px auto;
  }